[Unit]
Description=Startup tasks
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/startup.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
